<p id="notice"><%= notice %></p>
<h4><%= @upload.name %></h4>
<h4><%= @upload.file_size %></h4>

<p><%= link_to "Download File", @upload.file_url %></p>
<%= link_to 'Edit', edit_upload_path(@upload) %> |
<%= link_to 'Back', uploads_path %>
